* {
    box-sizing: border-box;
}

body {
    color: #696b6f;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    margin-left: auto;
    margin-right: auto;
}

.main {
    background-color: #feeed6;
}

.header {
    max-width: 736px;
    font-size: 2.045em;
    font-weight: normal;
    margin: 0.15em auto;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.form {
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em 1.2em 0.95em 1.2em;
    max-width: 736px;
    width: 100%;
}

.label {
    font-weight: bold;
    font-size: 0.98em;
    margin-top: 1.08em;
    display: block;
}

.field {
    width: 100%;
    height: 34px;
    padding: 0.2em 0.4em;
    margin-top: 0.45em;
    margin-bottom: 0.2em;
    border: none;
    outline: none;
    text-indent: 0.35em;
}

.field::placeholder {
    color: #a6b5b3;
    font-size: 0.98em;
}

.comment-field {
    height: 112px;
    width: 100%;
    padding: 0.5em 0.4em;
    margin-top: 0.45em;
    border: none;
    outline: none;
    text-indent: 0.35em;
}

.comment-field::placeholder {
    color: #a6b5b3;
    font-size: 0.97em;
}

.text {
    font-size: 0.98em;
    margin-top: 14px;
}

.submit {
    display: block;
    background-color: #378db2;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 0.98em;
    padding: 0.58em 0.8em;
    margin-left: auto;
    margin-top: 0.85em;
    cursor: pointer;
}

.submit:hover {
    background-color: #32728d;
}